# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logitech / local files
settings.db
*.db
*.sqlite

# BearHub user data
src/storage/profiles.json

# Environment files
.env
.env.local